<div  class="glass2" style=" width: 800px; height: 400px;  overflow:hidden;">
    <h6>Anlık Değerler</h6>
 <table style="width: 100%; text-align: center;">
    <tbody>
    <tr><td class="info_battery_header">Batarya Voltajı</td><td class="info_battery_header">Harcanan Akım</td><td class="info_battery_header"> Harcanan Güç</td></tr>
    <tr>
        <td class="info_battery">13.08</td>    <td class="info_battery">22 A</td>  <td class="info_battery">287,76 W</td>
    </tr>
    <tr>
        <td class="info_battery">13.08</td>    <td class="info_battery"><button (click)="getcii()">getciii</button></td>  <td class="info_battery">287,76 W</td>
    </tr>
   </tbody>
 </table>
 <hr>

</div>
<dock-panel></dock-panel>
