<p-dock [model]="dockItems" position="bottom"> 
    <ng-template pTemplate="item" let-item> 
  
        <div  (click)=route(item.label) style="width: 100%; height: 200px; background-color:brown; border-radius: 5px; cursor: pointer; font-size: 12px; text-align: center; padding-top: 20%;">
            <i style="color: white; text-align: center;" class="{{item.icon}}"></i>
            <br/>
            <label style="color: beige;">{{item.title}}</label> 
        </div>
    </ng-template> 
</p-dock>
